@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #14161a;
  color: "#FFF";
  min-height: 100vh;
  font-size: 1.6rem;
}

h1 {
  font-size: 7rem;
}
